fastapi
uvicorn
python-telegram-bot
python-dotenv
httpx
tweepy>=4.14.0

pandas
pandas-ta
numpy
scikit-learn
joblib

pybit
protobuf
prometheus-client
setuptools

stable-baselines3
gymnasium
shimmy
matplotlib
